{% load static %}
<!DOCTYPE html>
<html lang="en">


<!-- molla/login.html  22 Nov 2019 10:04:03 GMT -->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Goal pro</title>
    <meta name="keywords" content="HTML5 Template">
    <meta name="description" content="Goal pro">
    <meta name="author" content="p-themes">
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/icons/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/icons/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/icons/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'images/icons/site.html' %}">
    <link rel="mask-icon" href="{% static 'images/icons/safari-pinned-tab.svg' %}" color="#666666">
    <link rel="shortcut icon" href="{% static 'images/icons/favicon.ico' %}">
    <meta name="apple-mobile-web-app-title" content="Molla">
    <meta name="application-name" content="Molla">
    <meta name="msapplication-TileColor" content="#cc9966">
    <meta name="msapplication-config" content="{% static 'images/icons/browserconfig.xml' %}">
    <meta name="theme-color" content="#ffffff">
    <!-- Plugins CSS File -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/plugins/owl-carousel/owl.carousel.css' %}">
    <link rel="stylesheet" href="{% static 'css/plugins/magnific-popup/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'css/plugins/jquery.countdown.css' %}">
    <!-- Main CSS File -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/skins/skin-demo-8.css' %}">
    <link rel="stylesheet" href="{% static 'css/demos/demo-8.css' %}">
</head>

<body>
    

            <div class="login-page bg-image " style="background-color: rgb(255, 255, 255);">
            	<div class="container">
                    <div class="d-flex justify-content-center">
                        <a href="{% url 'user_signin' %}" class="logo">
                            <img style="width: 20vh;" src="{% static 'images/goal_pro_logo_1.png' %}" alt="Molla Logo" width="82" height="20">
                        </a>
                    </div>
            		<div  class="form-box">
            			<div class="form-tab">
	            			<ul class="nav nav-pills nav-fill" role="tablist">
							    <li class="nav-item">
							        <a class="nav-link active" id="signin-tab-2"  href="#signin-2" role="tab" aria-controls="signin-2" aria-selected="false">Create new password</a>
							    </li>
					
							</ul>
							<div class="tab-content">
							    <div class="" id="signin-2" role="tabpanel" aria-labelledby="signin-tab-2"> <br>
							    	<form action="" method="post">
                                        {% csrf_token %}
                                        {% if new_password_error %}
                                          <p class="text-danger text-center">{{new_password_error}}</p>
                                        {% endif %}
                            
                                        <div class="form-group">
                                            <input placeholder="New password" type="password" class="form-control" id="singin-email-2" name="new_password" >
                                        </div>
                            
                                        <div class="form-group d-flex">
                                            <input placeholder="confirm password" name="confirm_new_password" type="password" class="form-control " id="" >
                                        </div>
                                        
                                        
                                        <div class="form-footer">
                                            <button type="submit" class="btn btn-outline-primary-2">
                                                <span>Save</span>
                                            </button>
                            
                                        </div><!-- End .form-footer -->
                                    </form>
							    	
							    </div><!-- .End .tab-pane -->

								
							    </div><!-- .End .tab-pane -->
							</div><!-- End .tab-content -->
						</div><!-- End .form-tab -->
            		</div><!-- End .form-box -->
            	</div><!-- End .container -->
            </div><!-- End .login-page section-bg -->
        </main><!-- End .main -->

    <!-- Plugins JS File -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/jquery.hoverIntent.min.js"></script>
    <script src="assets/js/jquery.waypoints.min.js"></script>
    <script src="assets/js/superfish.min.js"></script>
    <script src="assets/js/owl.carousel.min.js"></script>
    <!-- Main JS File -->
    <script src="assets/js/main.js"></script>
</body>


<!-- molla/login.html  22 Nov 2019 10:04:03 GMT -->
</html>